@charset "UTF-8";
  
*{
  box-sizing: border-box;
}

section{
    min-height: 550px;
}

.card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:white;
    text-align:center;
    border-radius:40px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.title
{
    color:gray;
    font-size:18px;
}

p button{
    border:none;
    padding:8px;
    display: inline-block;
    color:white;
    background-color:black;
    cursor:pointer;
    width:70%;
    border-radius:20px;
    font-size:18px;
    text-align:center;
}

p button:focus {
  outline: 0 !important;
}

.card-img-round{
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

table tr{
  border-bottom: 1px solid rgb(105, 92, 92);
}