@charset "UTF-8";
  
*{
  box-sizing: border-box;
}

section{
    min-height: 550px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:white;
    text-align:center;
    border-radius:40px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.card:hover{
    box-shadow: 3px 6px 10px 3px rgba(119, 41, 41, 0.2);
}

.title
{
    color:gray;
    font-size:12px;
    margin: 1px;
}

p button{
    border:none;
    padding:8px;
    display: inline-block;
    color:white;
    background-color:rgb(63, 60, 60);
    cursor:pointer;
    width:70%;
    border-radius:20px;
    font-size:18px;
    text-align:center;
}

p button:focus {
  outline: 0 !important;
}

p button:hover {
  background-color:rgb(116, 98, 98);
}

.card-img-round{
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

a i:hover{
  color: red;
}

.card-img-round:hover{
  box-shadow: 1px 2px 2px 1px rgba(73, 51, 51, 0.2);
}

table tr{
  border-bottom: 1px solid rgb(105, 92, 92);
}